/**
 * Command-line usage
 * 
 * Once installed (npm install -g less), you can invoke the compiler from the command-line, as such:
 * 
 * $ lessc styles.less
 * This will output the compiled CSS to stdout, you may then redirect it to a file of your choice:
 * 
 * $ lessc styles.less > styles.css
 * To output minified CSS, simply pass the -x option. If you would like more involved minification, 
 * the YUI CSS Compressor is also available with the --yui-compress option.
 * 
 * To see all the command line options run lessc without parameters.
 */

 /* .css files are not minified in a single file by the compiler. the @import directive will be 
 * left as is and generate an extra request to download the css file. */
// @import "jquery.mobile.min.css.less";
@import "jqm-custom.css";
// @import "progressbar.css.less";
@import "temperatures.less";
@import "validation.less";
@import "home.less";

body {
	font-size: 1.0em;
}

dt {
	font-weight: bold;
}

.ui-li .ui-btn-text span.ui-link-inherit { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  }
.ui-li .ui-btn-inner span.ui-link-inherit { padding: .7em 15px .7em 15px; display: block; }

.locked, .ui-select{ // Duplicated in case .locked is not at the right place in the node tree
	.ui-select>div, .locked {
		opacity:1;
		
		span.ui-icon {
			display: none;
		}
	}
}

.itemInfo {	
	clear: both;
	span.itemName {
	}
	span.itemValue {
		float: right;
	}
	
}


.evtTable {
	width: 100%;
	text-align:center;

	.sensor {
		width: 25%;
	}

	.sensorType {
		width: 25%;

	}

	.value {

		width: 25%;
	}

	.date{
		width: 25%;
		
	}
}
