{{> header}}
	<!-- Getting Started -->
	<div data-role="page" id="home">
		<div data-theme="a" data-role="header" data-position="fixed" data-transition="none">
			<h3>ghome</h3>
		</div>
		<!-- <p>&nbsp;Faits/en cours en gris, pas touchés en jaune.</p> -->
		<div data-role="content">
			<h2>Bienvenue sur votre console d'administration GHome !</h2>

			<p>Ce petit tutoriel vous guidera à travers la prise en main rapide de votre serveur GHome.</p>

			<h3>Page d'accueil</h3>
			<p><img src="css/images/getting_started_1.png" alt="home page"></p>
			<p>Sur votre page d'accueil, vous pouvez retrouver les différentes fonctionalités de votre console d'administration GHome. Parmi celles-ci :</p>
			<dl>
				<dt>Gestion des équipements</dt>
				<dd>
					Vous permet de voir l'état courant de vos équipement et d'intéragir avec eux le cas échéant. 
					C'est également là que vous pouvez ajouter un nouvel équipement.
				</dd>
				<dt>Statistiques</dt>
				<dd>
					Vous permet de visualiser l'évolution de différentes données de votre GHome au cours du temps. 
					Comme la température intérieure et la consommation électrique.
				</dd>
				<dt>Mode espion</dt>
				<dd>
					Vous permet de paramétrer l'activation du <em>Mode espion</em> ainsi que d'en visualiser l'historique (logs).
				</dd>
				<dt>Planificateur</dt>
				<dd>
					Fonctionnalité principale de votre GHome, le planificateur vous permet d'effectuer toutes sortes d'actions en fonction
					de différents paramètres ainsi que lors d'évènements en provenance des capteurs enregistrés dans votre GHome.
					<br>Véritable boîte à outils, il vous permettra de rendre votre maison plus intelligente encore qu'elle ne l'est avec la 
					configuration par défaut de nos génies d'ingénieurs.
				</dd>
				<dt>Seuils</dt>
				<dd>
					Vous permet de gérer les différents "seuils" associés aux différents types de capteurs rattachés à votre GHome.
					<br>Ces seuils sont ensuite utilisés par le planificateur pour prendre ces décisions.
				</dd>
				<dt>Guide de démarrage</dt>
				<dd>La page sur laquelle vous vous trouvez en ce moment-même.</dd>
			</dl>

			<h3>Ajout d'un nouvel équipement</h3>
			<p>Afin d'ajouter un nouvel équipement, sur la page d'accueil, choisissez l'option <strong>Gestion des équipements</strong>.<br />
				Appuyez ensuite sur "Nouvel équipement" en haut de la page de gestion des équipements.
			</p>

			<h3>Ajout d'une nouvelle tâche planifiée</h3>
			<p>@TODO</p>

			<h3>Ajout d'un seuil</h3>
			<p>@TODO</p>

			<h3>Modification d'un seuil</h3>
			<p>@TODO</p>

			<h3>Visualisation des statistiques</h3>
			<p>@TODO</p>

			<p>And so on...</p>
		</div>
	</div>
{{> footer}}