{{> header}}
<!-- Getting Started -->
<div data-role="page" id="gettingStarted">
	<div data-theme="a" data-role="header" data-position="fixed">
		<h3>Guide de démarrage</h3>
		<a href="/?module=home" data-icon="home" data-iconpos="notext">Accueil</a>
		<a href="/?module=home" data-icon="back" data-transition="slide" data-direction="reverse" data-iconpos="notext">Parent</a>
	</div>
	<!-- <p>&nbsp;Faits/en cours en gris, pas touchés en jaune.</p> -->
	<div data-role="content">
		<h2>Bienvenue sur votre console d'administration GHome !</h2>

		<p>Ce petit tutoriel vous guidera à travers la prise en main rapide de votre serveur GHome.</p>

		<div data-role="collapsible-set" data-theme="b" data-content-theme="d"  >
			<div data-role="collapsible" data-collapsed="false">
				<h2>Page d'accueil</h2>
				<div>
					<p><img src="css/images/getting_started_1.png" alt="home page"></p>
					<p>Sur votre page d'accueil, vous pouvez retrouver les différentes fonctionalités de votre console d'administration GHome. Parmi celles-ci :</p>
					<dl>
						<dt>Gestion des équipements</dt>
						<dd>
							Vous permet de voir l'état courant de vos équipement et d'intéragir avec eux le cas échéant. 
							C'est également là que vous pouvez ajouter un nouvel équipement.
						</dd>
						<dt>Statistiques</dt>
						<dd>
							Vous permet de visualiser l'évolution de différentes données de votre GHome au cours du temps. 
							Comme la température intérieure et la consommation électrique.
						</dd>
						<dt>Mode espion</dt>
						<dd>
							Vous permet de paramétrer l'activation du <em>Mode espion</em> ainsi que d'en visualiser l'historique (logs).
						</dd>
						<dt>Planificateur</dt>
						<dd>
							Fonctionnalité principale de votre GHome, le planificateur vous permet d'effectuer toutes sortes d'actions en fonction
							de différents paramètres ainsi que lors d'évènements en provenance des capteurs enregistrés dans votre GHome.
							<br>Véritable boîte à outils, il vous permettra de rendre votre maison plus intelligente encore qu'elle ne l'est avec la 
							configuration par défaut de nos génies d'ingénieurs.
						</dd>
						<dt>Seuils</dt>
						<dd>
							Vous permet de gérer les différents "seuils" associés aux différents types de capteurs rattachés à votre GHome.
							<br>Ces seuils sont ensuite utilisés par le planificateur pour prendre ces décisions.
						</dd>
						<dt>Guide de démarrage</dt>
						<dd>La page sur laquelle vous vous trouvez en ce moment-même.</dd>
					</dl>
				</div>
			</div><!-- /collapsible -->

			<div data-role="collapsible" >
				<h3>Ajout d'un nouvel équipement</h3>
				<p>Afin d'ajouter un nouvel équipement, sur la page d'accueil, choisissez l'option <strong>Gestion des équipements</strong>.<br />
					Appuyez ensuite sur <strong>Nouvel équipement</strong> en haut de la page de gestion des équipements. Il ne vous reste <br />
					plus qu'a entrer les bonne informations selon ce qui vous est demandé. <br />
					<strong>Les identifiants doivent être entrés en décimal.</strong>
				</p>
			</div>
			<div data-role="collapsible" >
				<h3>Rattachement d'un équipement sous Android à votre serveur GHome</h3>
				<p>Installez l'application via le ficher .apk fourni (si non visible sur le périphérique, activez "sources inconnues")<br />
					Lancez l'application installée ci-dessus<br />
					Saisissez l'adresse IP, le login et le mot de passe vous permettant de vous connecter au serveur<br />
					Appuyez sur <strong>Valider</strong><br />
					Attendez entre 10s et 3 minutes que la synchronisation entre votre appareil et le serveur s'établisse<br /> 
					Une notification "Vous êtes connecté à votre serveur GHome" devrait apparaitre, le périphérique est alors connecté au serveur<br />
					Vous pouvez désormais utiliser notre application sur votre système android !
				</p>
			</div>
			<div data-role="collapsible" >
				<h3>Ajout d'une nouvelle tâche planifiée</h3>
				<p>Afin d'ajouter une novuelle tâche planifiée, sur la page d'accueil, choisissez l'option <strong>Planificateur</strong>.<br />
					Appuyez ensuite sur <strong>Nouvelle tâche</strong>. Il ne vous reste qu'à nommer votre nouvelle tâche et à définir l'action <br />
					à éffectuer lorsqu'elle sera lancé par l'évènement que vous aurez choisit. Si vous le souhaitez vous pouvez également <br />
					ajouter des conditions afin d'afiner votre tâche pour la lancer uniquement lorsque VOUS le souhaitez.
				</p>
			</div>
			<div data-role="collapsible" >
				<h3>Ajout d'un seuil</h3>
				<p>Afin d'ajouter un nouveau seuil, sur la page d'accuel, choisissez l'option <strong>Seuil</strong>.<br />
					Appuyez ensuite sur <strong>Nouveau seuil</strong>.Il ne vous reste ensuite qu'à nommer votre nouveau seuil ainsi que de lui <br />
					attribuer la valeur que vous souhaitez. Il faut enfin définir les capteurs concernés par ce seuil. Ils seront ainsi capable <br />
					de lancer un évènement quand il dépasseront votre nouveau seuil.
				</p>
			</div>
			<div data-role="collapsible" >
				<h3>Modification d'un seuil</h3>
				<p>Afin de modifier un seuil, sur la page d'accuel, choisissez l'option <strong>Seuil</strong>.<br />
					Appuyez ensuite sur le seuil que vous souhaitez éditer.Il ne vous reste ensuite qu'à éditer votre seuil.
				</p>
			</div>
			<div data-role="collapsible" >
				<h3>Visualisation des statistiques</h3>
				<p>Afin de visualiser les statistiques, sur la page d'accueil, choisissez l'option <strong>Statistiques</strong>.<br />
					Il vous suffit ensuite de sélectionner la date de début ainsi que la date de fin de vos statistiques<br />
					et de sélectionner le type d'information que vous désirez voir. Cliquer enfin sur <strong>valider</strong> afin de <br />
					visualiser vos statistiques.
				</p>
			</div>
		</div>

	</div>
</div>
{{> footer}}