<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ghome</title>
	<link rel="stylesheet" href="css/jquery.mobile.min.css" />
	<link rel="stylesheet" href="css/temperatures.css" />
	<link rel="stylesheet" href="css/home.css" />
	<script data-main="js/client/main" src="js/vendor/require-jquery.js"></script>
</head>
<body style="visibility:hidden"> <!-- Will be displayed once JQM is loaded -->

	<!-- Home -->
	<div data-role="page" id="home">
		<div data-theme="a" data-role="header" data-position="fixed" data-transition="none">
			<h3>ghome</h3>
		</div>
		<p>&nbsp;Faits/en cours en gris, pas touchés en jaune.</p>
		<div data-role="content">
			<div id="quick-dashboard">
				<span id="temp-in" class="{{COLOR_TEMP_IN}}-temp bold">{{IN_TEMP}} &deg;C</span> | 
				<span id="temp-out" class="{{COLOR_TEMP_OUT}}-temp bold">{{OUT_TEMP}} &deg;C</span> | 
				<span id="heating" class="mode-{{HEATING_STATE}} bold">{{HEATING_STATE}}</span> |
				<span id="consumtion">{{CONSUMTION}} kWh</span>
				<div id="weather">{{WEATHER_PIC}}</div>
			</div>
			<ul data-role="listview" data-divider-theme="b" data-inset="true" >
				<li><a data-transition="slide" href="/?module=app">Test notifs</a></li>
				<li><a data-transition="slide" href="/?module=device_management">Gestion des équipements</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Configurations</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Statistiques</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Chauffage</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Eclairage automatique</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Mode Espion</a></li>
				<li data-theme="e"><a data-transition="slide" href="#">Planificateur</a></li>
			</ul>
	</div>

</body>
</html>