{{> header}}
	<!-- Home -->
	<div data-role="page" id="home">
		<div data-theme="a" data-role="header" data-position="fixed" data-transition="none">
			<h3>ghome</h3>
		</div>
		<!-- <p>&nbsp;Faits/en cours en gris, pas touchés en jaune.</p> -->
		<div data-role="content">
			<div id="quick-dashboard">
				<span id="temp-in" data-role="ghome-state" data-device-id="{{temp_in_id}}" data-use-style="true" class="{{in_style}}">{{in_temp}}</span>
				| 
				<span id="temp-out" data-role="ghome-state" data-device-id="{{temp_out_id}}" data-use-style="true" class="{{out_style}}">{{out_temp}}</span> 
				{{#HEATING_STATE}}
				| 
				<span id="heating" class="mode-{{HEATING_STATE}} bold">{{HEATING_STATE}}</span>
				{{/HEATING_STATE}}
				{{#CONSUMTION}}
				|
				<span id="consumtion">{{CONSUMTION}} kWh</span>
				{{/CONSUMTION}}
				<div id="weather">
					{{#WEATHER}}
					{{{wpic}}}
					<div class="w-additional-infos">
						<span class="w-pressure">
							{{pressure}} mbars
						</span>	
						<span class="w-wind">
							{{wind}} km/h
						</span>	
						<span class="w-temp-c">
							{{temp}} &deg;C
						</span>	
						<span class="w-humidity">
							{{humidity}} % d'humidité
						</span>	
					</div>

					{{/WEATHER}}
				</div>
			</div>
			<ul data-role="listview" data-divider-theme="b" data-inset="true" >
				<!-- <li><a data-transition="slide" href="/?module=app">Test notifs</a></li> -->
				<li><a data-transition="slide" href="/?module=device_management">Gestion des équipements</a></li>
				<!-- <li data-theme="f"><a data-transition="slide" href="#">Configurations</a></li> -->
				<li><a data-ajax="false" href="/?module=stats">Statistiques</a></li>
				<li><a data-transition="slide" href="/?module=spy">Mode espion</a></li>
				<!-- <li data-theme="f"><a data-transition="slide" href="#">Chauffage</a></li> -->
				<!-- <li data-theme="f"><a data-transition="slide" href="#">Eclairage automatique</a></li> -->
				<li><a data-transition="slide" href="/?module=scheduler">Planificateur</a></li>
				<li><a data-transition="slide" href="/?module=threshold_list">Seuils</a></li>
				<li><a data-transition="slide" href="/?module=getting_started">Guide de démarrage</a></li>
			</ul>
	</div>
{{> footer}}
