{{#comments}}
<!--
Condition Template
	The values between @@ will be replaced in client side JS
 -->
{{/comments}}

{{#conditionTemplate}}
<li id="condition@@condId@@" class="conditionBlock">	
	<a href="#" onclick="return false;" class="leftLink">
		<span>
			<div class="ui-grid-b" >
				<div class="ui-block-a">
					<select name="condSource" class="condSourceSelect" data-condition-id="@@condId@@" data-mini="true">
					<option value="" >-- Source --</option>
					{{#evtSourceTypes}}
					<optgroup label="{{label}}">
					{{#devices}}
					    <option value="{{id}}" data-sensor-type="{{type}}">&nbsp;&nbsp;{{label}}</option>
					{{/devices}}
					</optgroup>
					{{/evtSourceTypes}}
					</select>
				</div>
				<div class="ui-block-b">
					<select name="condType" data-condition-id="@@condId@@" data-mini="true" disabled></select>
				</div>
				<div class="ui-block-c" data-role="ghome-condValueDiv" data-condition-id="@@condId@@">
				</div>
			</div>
		</span>
	</a>
	<a href="#" data-condition-id="@@condId@@" class="removeCondition">Retirer</a>
</li>
{{/conditionTemplate}}

{{#conditionListValueTemplate}}
	<select name="condValue" data-condition-id="@@condId@@" data-mini="true" disabled ></select>
{{/conditionListValueTemplate}}

{{#conditionFreeValueTemplate}}
	<input type="text" name="condValue" data-condition-id="@@condId@@" data-mini="true" >
{{/conditionFreeValueTemplate}}