{{> header}}	
<div data-role="page" id="scheduler">
		<div data-theme="a" data-role="header" data-position="fixed">
			<h3>Planificateur</h3>
			<a href="/?module=home" data-icon="home" data-iconpos="notext" d>Accueil</a>
			<a href="/?module=home" data-icon="back" data-transition="slide" data-direction="reverse" data-iconpos="notext">Parent</a>
		</div>
		<div data-role="content">
			<ul data-role="listview" data-inset="true" id="messages">
				{{#msg}}
					<li data-theme="g" data-icon="delete" ><a href="#"><span class="success">{{msg}}</span></a></li>
				{{/msg}}
			</ul>
			
			<ul data-role="listview" data-divider-theme="b" data-inset="true">
				<li data-icon="plus">
					<a data-transition="fade" href="/?module=task&amp;action=new"> Nouvelle tâche</a>
				</li>
				<li data-role="list-divider">Liste des tâches</li>
				{{#tasks}}
					<li data-role="list-divider">{{label}}</li>
					{{#devices}}
					<li><a data-transition="fade" href="/?module=task&amp;action=edit&amp;id={{id}}">{{label}}</a></li>
					{{/devices}}
				{{/tasks}}
				{{^tasks}}
					<li>Il n'y a pas de tâche enregistrée</li>
				{{/tasks}}
			</ul>
		</div>
	</div>
{{> footer}}