<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ghome</title>
	<link rel="stylesheet/less" type="text/css" href="css/ghome.less" />
	<script src="js/vendor/less.min.js" type="text/javascript"></script>
	<script data-main="js/client/main" src="js/vendor/require-jquery.js"></script>
</head>
<body style="visibility:hidden"> <!-- Will be displayed once JQM is loaded -->
	<div data-role="page" id="scheduler">
		<div data-theme="a" data-role="header" data-position="fixed">
			<h3>Planificateur</h3>
			<a href="/?module=home" data-icon="home" data-iconpos="notext" d>Accueil</a>
		</div>
		<div data-role="content">
			<ul data-role="listview" data-divider-theme="b" data-inset="true">
				<li data-icon="plus">
					<a data-transition="fade" href="/?module=new_task"> Nouvelle tâche</a>
				</li>
				<li data-role="list-divider">Liste des tâches</li>
				{{#tasks}}
					<li><a data-transition="fade" href="/?module=task&amp;action=display&amp;id={{id}}">{{title}}</a></li>
				{{/tasks}}
				{{^tasks}}
					<li>Il n'y a pas de tâche enregistrée</li>
				{{#tasks}}
			</ul>
		</div>
	</div>
</body>
</html>