<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<title>ghome</title>
    <link rel="stylesheet" href="css/ghome.min.css">
    <script data-main="js/client/main" src="js/vendor/require-jquery.js"></script>
    <script src="js/client/mobiscroll.datetime-2.4.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="js/client/mobiscroll.datetime-2.4.1.min.css" />
	
	<script src="js/client/highcharts/highcharts.js" type="text/javascript"></script>
	<script src="js/client/highcharts/exporting.js" type="text/javascript"></script>


<script type="text/javascript">

$(function () {
    var chart;
    $(document).ready(function() {
        {{#DONT_DRAW}}
        chart = new Highcharts.Chart(  {{{STATS_DATA}}}   ) 
        {{/DONT_DRAW}}

        var settings = {
       // minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
        theme:'android-ics',
        timeFormat : 'HH:ii',
        dateFormat : 'yy-mm-dd'
        }
        var now = new Date();
        $('#datefrom').mobiscroll().datetime(settings);
        $('#dateto').mobiscroll().datetime(settings);
        });
});


</script>
</head>
<body style="visibility:hidden"> <!-- Will be displayed once JQM is loaded -->

	<!-- Home -->
	<div data-role="page" id="home">
		<div data-theme="a" data-role="header" data-position="fixed" data-transition="none">
			<h3>ghome {{STATS_DATA.name}}</h3>
            <a href="/?module=home" data-icon="home" data-iconpos="notext" >Accueil</a>
            <a href="/?module=home" data-icon="back" data-direction="reverse" data-iconpos="notext">Parent</a>
		</div>
		<p></p>
		<div data-role="content" style="height:500px">
			<form action="/?module=stats" method="post" id="form" data-ajax="false">
                <input type="hidden" name="module" value="stats">
                    
                <div>
                    <div style="float:left">
                         <select name="typedestatistiques" >
                            <option value="n/a">-- Type de Statistiques --</option>
                             <option value="temperature" {{#TEMP_STAT}} selected="selected" {{/TEMP_STAT}} >Température</option>
                             <option value="electricity" {{#ELECT_STAT}} selected="selected" {{/ELECT_STAT}}>Électricité</option>
                           </select>     
                    </div> 
                    <div style="float:left;">
                        <table>
                            <tr>
                                <td>
                                  <input id="datefrom" name="datefrom"  value="{{DATEFROM_VALUE}}" placeholder="Select the starting date..." />   
                                </td>
                                <td>
                                    <input id="dateto" name="dateto" value="{{DATETO_VALUE}}" placeholder="Select the ending date..." />                         
                                </td>
                            </tr>
                        </table>    
                       
                    </div>
                    <div style="float:left">
                        <input type="submit" value="Valider" name="submit" />
                    </div>
                </div>
           </form> 
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

        </div>
                                        




{{> footer}}
