<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ghome</title>
	<!-- <link rel="stylesheet" href="css/ghome.css"> -->
	<link rel="stylesheet/less" type="text/css" href="css/ghome.less" />
	<script src="js/vendor/less.min.js" type="text/javascript"></script>
	<script data-main="js/client/main" src="js/vendor/require-jquery.js"></script>

	<script src="js/client/highcharts/highcharts.js" type="text/javascript"></script>
	<script src="js/client/highcharts/exporting.js" type="text/javascript"></script>

<script type="text/javascript">

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart(  {{{STATS_DATA}}}   ) 

            // subtitle: {
            //     //text: 'Source: WorldClimate.com',
            //     //x: -20
            // },

            // tooltip: {
            //     formatter: function() {
            //             return '<b>'+ this.series.name +'</b><br/>'+
            //             this.x +': '+ this.y +'°C';
            //     }
            // },
            // legend: {
            //     layout: 'vertical',
            //     align: 'right',
            //     verticalAlign: 'top',
            //     x: -10,
            //     y: 100,
            //     borderWidth: 0
            // },
            // series: [{
            //     name: 'Tokyo',
            //     data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            // }, {
            //     name: 'New York',
            //     data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            // }, {
            //     name: 'Berlin',
            //     data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            // }]
        });
    });
    
</script>
</head>
<body style="visibility:hidden"> <!-- Will be displayed once JQM is loaded -->

	<!-- Home -->
	<div data-role="page" id="home">
		<div data-theme="a" data-role="header" data-position="fixed" data-transition="none">
			<h3>ghome {{STATS_DATA.name}}</h3>
		</div>
		<p></p>
		<div data-role="content" >
		
			<form action="/?module=stats" method="post" id="form" data-ajax="false">
                <input type="hidden" name="module" value="stats">
                <table>
                    <tr>
                        <td>
                           <div class="ui-block-a">
                                <select name="aActor" >
                                    <option value="0">-- Type de Statistiques --</option>
                                    <option value="temperature">Température</option>
                                    <option value="electricity">Électricité</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="datefrom" />
                        </td>
                        <td>
                            <input type="text" name="dateto" />
                        </td>
                        <td>
                            <input type="submit" value="Valider" name="submit" />
                        </td>
                    </tr>
            </form> 


            <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>

          </div>
                                        





</body>
</html>