{{> header}}	
<div data-role="page" id="task" data-cache="never">
		<div data-theme="a" data-role="header" data-position="fixed">
			<h3>Nouvelle tâche</h3>
			<a href="/?module=home" data-icon="home" data-iconpos="notext" >Accueil</a>
			<a href="/?module=scheduler" data-icon="back" data-iconpos="notext">Parent</a>
		</div>
		<div data-role="content">
			{{#editMode}}
			<ul data-role="listview" data-divider-theme="d" data-inset="true">
				<li data-role="list-divider">Suppression</li>
				<li data-icon="gear"><a id="deleteTask">Supprimer</a></li>
			</ul>
			{{/editMode}}
			<form>
				{{#editMode}}
				<input type="hidden" id="taskId" value="{{taskId}}" />
				{{/editMode}}
				<ul data-role="listview" data-inset="true" data-divider-theme="d" data-split-icon="minus" data-split-theme="d" id="bigList">
					<li data-role="list-divider" role="heading">
						Nom de la tâche
					</li>

					<li id="nameArgs">
						<div data-role="fieldcontain">
				            <fieldset data-role="controlgroup">
				                <input name="taskName" id="textinput1" placeholder="" value="{{taskName}}" type="text">
				            </fieldset>
				        </div>
					</li>
					<li data-role="list-divider" role="heading">
						Action
					</li>
					<li id="actionArgs">	
						<div class="ui-grid-a">
							<div class="ui-block-a">
								<select name="aActor" >
									<option value="">-- Acteur --</option>
									{{#actionDevices}}
									<optgroup label="{{label}}">
										{{#devices}}
									    <option value="{{id}}" data-device-type="{{type}}" {{{selected}}} >&nbsp;&nbsp;{{label}}</option>
										{{/devices}}
									</optgroup>
									{{/actionDevices}}
								</select>
							</div>
							<div class="ui-block-b">
								{{#editMode}}
								<select name="aAction" >
									{{#actionValues}}
										<option value="{{id}}" {{{selected}}} >{{label}}</option>
									{{/actionValues}}
								</select>								
								{{/editMode}}
								{{^editMode}}
								<select name="aAction" disabled>
								</select>
								{{/editMode}}
							</div>
						</div>
					</li>
					<li data-role="list-divider" role="heading">
						Evénement
					</li>
					<li id="evtArgs">
						<div class="ui-grid-a">
							<div class="ui-block-a">
								<select name="evtSource">
									<option value="">-- Source --</option>
									{{#evtSourceTypes}}
									<optgroup label="{{label}}">
									{{#devices}}
									    <option value="{{id}}" data-sensor-type="{{type}}">&nbsp;&nbsp;{{label}}</option>
									{{/devices}}
									</optgroup>
									{{/evtSourceTypes}}
								</select>
							</div>
							<div class="ui-block-b">
								<select name="evtType" data-condition-id="Evt" disabled>
								</select>
							</div>
						</div>
					</li>
					<li data-role="list-divider" role="heading">
						Conditions
					</li>
					<li id="conditionEvt" class="ui-screen-hidden">	
						<div class="ui-grid-b">
							<div class="ui-block-a locked">
								<select name="condSource" data-mini="true" data-condition-id="Evt" disabled>
								</select>
							</div>
							<div class="ui-block-b">
								<select name="condType" data-mini="true" data-condition-id="Evt" disabled>
								</select>
							</div>
							<div class="ui-block-c" data-condition-id="Evt">
								<select name="condValue" data-mini="true" data-condition-id="Evt" disabled>
								</select>
							</div>
						</div>
					</li>
					<li data-icon="plus"><a id="addCondition" href="#">Ajouter une condition</a></li>
				</ul>
				
				<ul data-role="listview" data-inset="true" id="messages"></ul>

				<input type="submit" value="Enregistrer">


			</form>
		</div><!-- /content -->
	</div><!-- /page -->
{{> footer}}
