{{> header}}	
<div data-role="page" id="thresholdList">
		<div data-theme="a" data-role="header" data-position="fixed">
			<h3>Seuils</h3>
			<a href="/?module=home" data-icon="home" data-iconpos="notext" >Accueil</a>
			<a href="/?module=home" data-icon="back" data-transition="slide" data-direction="reverse" data-iconpos="notext">Parent</a>
		</div>

		<div data-role="content">

			<ul data-role="listview" data-inset="true" id="messages">
				{{#msg}}
					<li data-theme="g" data-icon="delete" ><a href="#"><span class="success">{{msg}}</span></a></li>
				{{/msg}}
			</ul>
			<ul data-role="listview" data-filter="true" data-filter-placeholder="Rerchercher un nom de seuil..." 
					data-divider-theme="b" data-inset="true">
				<li data-icon="plus">
					<a data-transition="fade" href="/?module=threshold&amp;action=new">Nouveau Seuil</a>
				</li>
				<li data-role="list-divider">Liste des seuils</li>
				{{#thresholds}}
					<li><a data-transition="fade" href="/?module=threshold&amp;action=edit&amp;id={{id}}" class="itemInfo">
						<span class="itemValue"> {{value}}</span>
						<span class="itemName">{{thresholdName}}</span>
					</a></li>
				{{/thresholds}}
				{{^thresholds}}
					<li>Il n'y a pas de seuil enregistré</li>
				{{/thresholds}}
			</ul>
		</div>  <!-- /content -->

	</div>
{{> footer}}