<!-- Condition Template -->
{{#conditionTemplate}}
<li>	
	<a href="#" onclick="return false;" class="leftLink">
		<span>
			<div class="ui-grid-b">
				<div class="ui-block-a">
					<select name="condSource" data-inline="true" >
					{{#evtSourceTypes}}
					<optgroup label="{{label}}">
					{{#sensors}}
					    <option value="{{value}}" data-sensor-type="{{type}}">&nbsp;&nbsp;{{label}}</option>
					{{/sensors}}
					</optgroup>
					{{/evtSourceTypes}}
					</select>
				</div>
				<div class="ui-block-b">
					<select name="condData" data-inline="true" disabled></select>
				</div>
			</div>
		</span>
	</a>
	<a href="#">Retirer</a>
</li>
{{/conditionTemplate}}

{{#evtCondition}}
<li id="evtCondition">	
	<div class="ui-grid-b">
		<div class="ui-block-a">
			<select name="condSource" data-inline="true" disabled>
			{{#evtSource}}
			    <option value="{{value}}" data-sensor-type="{{type}}">{{label}}</option>
			{{/evtSource}}
			</select>
		</div>
		<div class="ui-block-b">
				<select name="condData" data-inline="true" >
				{{#conditions}}
			    <option value="{{value}}">{{label}}</option>
				{{/conditions}}
				</select>
		</div>
		<div class="ui-block-c" class="condValue"></div>
	</div>
</li>
{{/evtCondition}}

<!-- Trigger: sensors -->
{{#template1}}
<div data-role="fieldcontain">
	<label for="sensor">Capteur </label>
		<option value="">-- Choisir --</option>
		{{#sensorTypes}}
		<optgroup label="{{label}}">
		{{#sensors}}
		    <option value="{{value}}" data-sensor-type="{{type}}">&nbsp;&nbsp;{{label}}</option>
		{{/sensors}}
		</optgroup>
		{{/sensorTypes}}
	</select>
</div>

<div id="thresholdDiv"></div>
{{/template1}}

{{#fuzzyValueThreshold}}
<input type="hidden" value="1" name="val" id="val" />
<div data-role="fieldcontain" >
	<label for="threshold_type">Type Seuil </label>
	<select name="threshold_type" id="threshold_type">
		{{#thresholdTypes}}
		<option value="{{value}}">{{label}}</option>
		{{/thresholdTypes}}
	</select>                
</div>

<div data-role="fieldcontain">
	<label for="thrshold_value"> Valeur seuil </label>
  <input name="threshold_value" value="" type="number">
</div>
{{/fuzzyValueThreshold}}

{{#fixedValueThreshold}}
<input type="hidden" value="2" name="val" id="val" />
<div data-role="fieldcontain" >
	<label for="threshold_event"> Evénement </label>
	<select name="threshold_event" id="threshold_event">
		<option value="">-- Choisir --</option>
		{{#eventTypes}}
		    <option value="{{value}}">{{label}}</option>
		{{/eventTypes}}
	</select>
</div>
{{/fixedValueThreshold}}