
<!-- Trigger: sensors -->
{{#template1}}
<div data-role="fieldcontain">
	<label for="sensor">Capteur </label>
	<select name="sensor" id="sensor">
		<option value="">-- Choisir --</option>
		{{#sensorTypes}}
		<optgroup label="{{label}}">
		{{#sensors}}
		    <option value="{{value}}" data-sensor-type="{{type}}">&nbsp;&nbsp;{{label}}</option>
		{{/sensors}}
		</optgroup>
		{{/sensorTypes}}
	</select>
</div>

<div id="thresholdDiv"></div>
{{/template1}}

<!-- Trigger: date -->
{{#template2}}
<!-- <div data-role="fieldcontain">
	<label for="sensor_type">Type de capteur </label>
	<select name="sensor_type" id="sensor_type">
		<option value="">-- Choisir --</option>
		{{#sensor_types}}
		    <option value="{{value}}">{{label}}</option>
		{{/sensor_types}}
	</select>
</div>

<div data-role="fieldcontain">
	<label for="sensor">Capteur </label>
	<select name="sensor" id="sensor">
		<option value="">-- Choisir --</option>
		{{#sensors}}
		    <option value="{{value}}">{{label}}</option>
		{{/sensors}}
	</select>
</div>

<div data-role="fieldcontain">
	<label for="threshold">Seuil </label>
	<select name="threshold_type" id="threshold_type">
		<option value="1">Passe au dessus de </option>
		<option value="1">Passe en dessous de </option>
		<option value="1">Est supérieur à </option>
		<option value="1">Est inférieur à </option>
	</select>
                
  <input name="threshold_value" value="" type="number">
</div> -->
{{/template2}}

{{#fuzzyValueThreshold}}
<input type="hidden" value="1" name="val" id="val" />
<div data-role="fieldcontain" >
	<label for="threshold_type">Type Seuil </label>
	<select name="threshold_type" id="threshold_type">
		{{#thresholdTypes}}
		<option value="{{value}}">{{label}}</option>
		{{/thresholdTypes}}
	</select>                
</div>

<div data-role="fieldcontain">
	<label for="thrshold_value"> Valeur seuil </label>
  <input name="threshold_value" value="" type="number">
</div>
{{/fuzzyValueThreshold}}

{{#fixedValueThreshold}}
<input type="hidden" value="2" name="val" id="val" />
<div data-role="fieldcontain" >
	<label for="threshold_event"> Evénement </label>
	<select name="threshold_event" id="threshold_event">
		<option value="">-- Choisir --</option>
		{{#eventTypes}}
		    <option value="{{value}}">{{label}}</option>
		{{/eventTypes}}
	</select>
</div>
{{/fixedValueThreshold}}